.offers .edit {
  float: right;
  display: inline;
}
#container #main {
  min-height: 300px;
}
.markItUp {
  width: 100%
}
.form .price #offer_price {
  width: 10%
}
.form .price #offer_pricing_type {
}

