.offers .edit {
  float: right;
  display: inline;
}
#container #main {
  min-height: 300px;
}
.markItUp {
  width: 100%
}
.form .price #offer_price {
  width: 10%
}
.form .price #offer_pricing_type {
}
#xednt_logo{
  height:50px;
}
#main-navigation {
  position: absolute;
  left: 200px;
  top: 45px;
}
.search-box select {
  float:left;
  margin: 8px 15px 0px 0px;
}
.search-box .subgroup {
  margin-top: 5px;
}
#content-holder {
  min-height: 400px;
}
body {
  overflow-x: hidden;
}  
