<div class="block" id="block-forms-2">
  <div class="content">
    <h2 class="title">Editar oferta</h2>
    <div class="inner">
      <%= render 'form' %>
    </div>
  </div>
</div>

<%= link_to 'Destroy', @offer, :confirm => 'Are you sure?', :method => :delete %>
<%= link_to 'Show', @offer %> |
<%= link_to 'Back', offers_path %>
