<div class="block" id="block-forms-2">
  <div class="content">
    <h2 class="title">Crear Oferta</h2>
    <div class="inner">
      <%= render 'form' %>
    </div>
  </div>
</div>

<%= link_to 'Volver', offers_path %>
